<%- include("header") -%>
<%- include("nav") -%>

<div class="box">
  <h1>Taskview <span class="usr"><%= username %></span></h1>
  <% for(var i=0; i<activeItems.length; i++) { %>
    <form action="/move" method="post">
      <div class="item">
        <p><%= activeItems[i].name %></p>
        <button type="checkbox" name="checkbox" value="<%= activeItems[i]._id %>" onClick="this.form.submit()" id="checkbox"></button>
        <label for="checkbox"></label>
      </div>
    </form>
  <% } %>

  <div class="addTask">
    <form class="addNew" action="/add" method="post">
      <input autofocus type="text" id="taskInput" name="addbtn" placeholder="add new task">
      <button id="b" class="add_btn" type="submit"><span id="s2">+</span></button>
  </form>
  </div>

  <h2>Erledigt</h2>    
    <% for(var i=0; i<inactiveItems.length; i++) { %>
    <form action="/delete" method="post">
      <div class="item inactive">
        <p><%= inactiveItems[i].name %></p>
        <button type="checkbox" name="checkbox" value="<%= inactiveItems[i]._id %>" onClick="this.form.submit()" id="checkbox"><span id="minus">-</span></button>
        <label for="checkbox"></label>
      </div>
    </form>
  <% } %>
</div>